body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://wallpaperaccess.com/full/432474.png');
    background-repeat: no-repeat;
    color: whitesmoke;
    font-weight: bolder;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

li {
    list-style-type: none;
    width: 50%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #042c69;
    color: white;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #042c69;
    font-weight: bold;
}

li:hover {
    background: #00000000;
    border: 1px solid #042c69;
    color: #042c69;
}